<!DOCTYPE html>
<html lang="en">
<head>
  <title>Guestbook for OHSIHA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    {% if guestbook_entries %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Datetime</th>
          <th scope="col">Entry</th>
          <th scope="col">By nickname</th>
        </tr>
      </thead>
      <tbody>
        {% for guestbook_entry in guestbook_entries %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <th scope="row">{{ guestbook_entry.entry_datetime }}</th>
          <th scope="row">{{ guestbook_entry.entry_text }}</th>
          <th scope="row">{{ guestbook_entry.writer_nickname }}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No entries in the guestbook.</p>
    {% endif %}
  </div>

</body>
</html>
