{% extends "tweetsentiment/base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="center-block">
      <h1>OHSIHA Guestbook</h1>
    </div>
  </div>

  {% if error_message %}
  <div class="alert alert-danger" role="alert">
    {{ error_message }}
  </div>

  {% endif %}
</div>
<div class="container">
  <!-- /.panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
    </div>
    <!-- /.panel-heading -->
    {% if statuses %}
    <div class="panel-body">
      <ul class="timeline">
        {% for status in statuses %}
        <li class="timeline-inverted">
          {% if status.polarity_interpretation == "positive" %}
            <div class="timeline-badge success"><i class="fa fa-plus-circle"></i>
            </div>
          {% elif status.polarity_interpretation == "negative"  %}
            <div class="timeline-badge danger"><i class="fa fa-times-circle"></i>
            </div>
          {% else %}
            <div class="timeline-badge"><i class="fa fa-question-circle"></i>
            </div>
          {% endif %}
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{ status.screen_name }}</h4>
              <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{ status.created_at }} <span style="float:right;">Polarity: {{ status.sentiment.polarity|floatformat:1 }}</span></small>
              </p>
            </div>
            <div class="timeline-body">
              <p>{{ status.text }}</p>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>

{% endblock %}
