{% extends "tweetsentiment/base.html" %}
{% block content %}
<div class="container" style="padding-top: 15px; padding-bottom: 15px;">
  <div class="row">
    <div class="col">
      <form action="{% url 'tweetsentiment:tweetsentiment' %}" method="get">
        {% csrf_token %}
        <div class="form-row">
          <div class="col-13 col-md-10 mb-2 mb-md-0">
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">#</span>
              </div>
              <input type="text" class="form-control" placeholder="hashtag" name="hashtag" value="{{ hashtag }}" required>
            </div>
          </div>
          <div class="col-13 col-md-2">
            <button type="submit" class="btn btn-block btn-lg btn-primary">Analyze!</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  {% if error_message %}
  <div class="alert alert-danger" role="alert">
    {{ error_message }}
  </div>

  {% endif %}
</div>
<div class="container">
  {% if statuses %}
  {% load twitter_tags %}
  <!-- /.panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <ul class="timeline">
        {% for status in statuses %}
        <li class="timeline-inverted">
          {% if status.polarity_interpretation == "positive" %}
            <div class="timeline-badge success"><i class="fa fa-plus-circle"></i>
            </div>
          {% elif status.polarity_interpretation == "negative"  %}
            <div class="timeline-badge danger"><i class="fa fa-times-circle"></i>
            </div>
          {% else %}
            <div class="timeline-badge"><i class="fa fa-question-circle"></i>
            </div>
          {% endif %}
          <div class="timeline-panel">
            <div class="timeline-body">
              <p>{{ status.tweet.text }}</p>
              <p><small class="text-muted">
                <i class="fa fa-user"></i> <span style="padding-right:15px">{{ status.tweet.user.screen_name }}</span>
                <i class="fa fa-clock-o"></i> <span style="padding-right:15px">{{ status.tweet.created_at|twitter_date|date:"d.m.Y H:i" }}</span>
                <i class="fa fa-bolt"></i> <span>Polarity: {{ status.polarity_interpretation }} ({{ status.sentiment.polarity|floatformat:1 }})</span>
              </small>
              </p>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
  {% else %}
  <div class="alert alert-success">Enter a hashtag to begin!</div>
  {% endif %}
</div>

{% endblock %}
